<TabBar [ngStyle]="tabbarStyle" [activeTab]="selectedIndex" (onPress)="tabBarTabOnPress($event)">

  <TabBarItem [title]="'National Cases Summary'" [key]="1" [icon]="list" [selectedIcon]="list">
    <ng-template #list>
      <ion-icon src="assets/icon/national.svg"></ion-icon>
    </ng-template>
    <ng-container>
      <ng-template [ngTemplateOutlet]="content"></ng-template>
    </ng-container>
  </TabBarItem>
  <TabBarItem [title]="'Global Vaccine Summary'" [key]="2" [icon]="nuclear" [selectedIcon]="nuclear">
    <ng-template #nuclear>
      <ion-icon src="assets/icon/vaccine.svg"></ion-icon>
    </ng-template>
    <ng-container>
      <div class="container">

        <div class="title">
          <h3>Covid-19 Vaccine Tracker</h3>
        </div>
        <div class="title">{{wide}}</div>
        <div class="sub-title">As of {{dateRelease}}</div>
        <div class="source">Source: <a href="#"
            onclick="window.open('https://www.who.int/publications/m/item/draft-landscape-of-covid-19-candidate-vaccines'); return false;">
            World Health Organization</a>
        </div>

        <div class="row">
          <div class="data">
            <table id="vaccineTable">
              <tr>
                <th width="75%">Developer/Manufacturer</th>
                <th style="text-align:center">Trial Phase</th>
              </tr>
              <tr *ngFor="let item of paginatedListOfVaccineCandidate">
                <td width="75%">{{item.developerManufacturer}}</td>
                <td style="text-align:center">{{item.trialPhase}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div *ngIf="this.listOfVaccineCandidate.length > 12" class="row">
          <Pagination [total]="totalPage" [current]="currentPage" [locale]="locale" (onChange)="onChange($event)">
          </Pagination>
        </div>

      </div>
    </ng-container>
  </TabBarItem>
</TabBar>

<ng-template #content>
  <div class="container">
    <div class="title">
      <h3>Philippines Covid-19 Tracker</h3>
    </div>
    <div class="title">{{wide}}</div>
    <div class="sub-title">As of {{dateRelease}}</div>
    <div class="source">Source: <a href="#"
        onclick="window.open('https://www.doh.gov.ph/covid19tracker'); return false;">Department of Health's COVID-19
        Case Tracker</a>
    </div>

    <div class="row">
      <div class="column">
        <div class="card" style="background-color:#ff4d4f;">
          <div class="header">
            <h3>Total Cases</h3>
          </div>
          <div class="content">
            <h1>{{totalCase | number}}</h1>
          </div>
          <div class="footer">
            <p>+ {{newCase | number}}</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card" style="background-color:#1890ff;">
          <div class="header">
            <h3>Active Cases</h3>
          </div>
          <div class="content">
            <h1>{{activeCase | number}}</h1>
          </div>
          <div class="footer">
            <p>+ {{newActiveCase | number}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="card" style="background-color:#13c2c2;">
          <div class="header">
            <h3>Recovered</h3>
          </div>
          <div class="content">
            <h1>{{recovered | number}}</h1>
          </div>
          <div class="footer">
            <p>+ {{newRecovered | number}}</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card" style="background-color:#722ed1;">
          <div class="header">
            <h3>Died</h3>
          </div>
          <div class="content">
            <h1>{{died | number}}</h1>
          </div>
          <div class="footer">
            <p>+ {{newDied | number}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <canvas #barChart></canvas>
    </div>

    <div class="row-title">
      <h3 style="text-align:center">Regional Cases</h3>
    </div>

    <div class="row">
      <div class="data">
        <table>
          <tr>
            <th>Region</th>
            <th style="text-align:center">Cases</th>
          </tr>
          <tr *ngFor="let item of paginatedRegionCases">
            <td>{{item.name}}</td>
            <td style="text-align:center">{{item.cases}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div *ngIf="this.paginatedRegionCases.length > 5" class="row">
      <Pagination [total]="totalPage" [current]="currentPage" [locale]="locale" (onChange)="onChange($event)">
      </Pagination>
    </div>

    <div class="row-title">
      <h3 style="text-align:center">List of Quarantine Area</h3>
      <p style="text-align:center">As of {{ quarantineDate }}</p>
    </div>

    <div class="row">
      <div class="data">
        <table>
          <tr>
            <th>Area</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>Due Date</th>
          </tr>
          <tr *ngFor="let item of quarantineAreas">
            <td>{{item.area}}</td>
            <td>{{item.status}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.dueDate}}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</ng-template>